
@media screen and (min-height: 600px) {
body {
    
    margin: 0;
}

html {
    background: url(ashleyhomepageoffset.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-attachment: fixed;   
} 

.left {

    margin-left: 5%;
    
} 

.right {
    display: inline;
    position: relative;
    margin-left:62%;
    
} 

span.aboutme{
    
    font-family: 'Aguafina Script';
    font-size: 50px;
    color: white;
    display: block;
}

p.menu{
   color: white;
   font-family: 'Arial Bold';
   font-size: 18px;
   font-weight: bold;
}

p.form{
    color: white;
    margin-left: 12%;
    margin-top: 2%;
    margin-bottom: 0.5%;
    box-sizing: border-box;
}

p.book {
    
    font-family: 'Arial';
    font-size: 20px;
    color: white;
    text-align: left;
    line-height: 1.5;
    white-space: normal;
    background-color:#2C6336;
    opacity: 0.7;
    padding: 3% 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    box-sizing: border-box;
    width: 80%;
    
}

p.other {
    
    font-family: 'Arial';
    font-size: 20px;
    color: white;
    text-align: left;
    line-height: 1.5;
    white-space: normal;
    background-color:#2C6336;
    opacity: 0.7;
    padding: 3% 3%;
    margin-left: 6%;
    box-sizing: border-box;
    width: 60%;
   
}

p.videotitle{
    color:white;
    display: block;
    margin-bottom: 0;
    margin-left: 12%;
    font-family: 'Amatic SC';
    font-size: 25px;
    box-sizing: border-box;
}

p.instr{
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Amatic SC';
    font-size: 30px;
    margin-bottom: 1%;
    box-sizing: border-box;
}
    
p.subinstr{
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Amatic SC';
    font-size: 20px;
    box-sizing: border-box;
    display:none;
}

p.name{
    font-family: 'Aguafina Script'; 
    font-size: 120px;
    color: white;
    text-align: left;
    margin-left: 3%;
    margin-top: 12%;
    margin-bottom:0;
    background-color: none;
    position: absolute;
    
}

.menuitems {
    padding: 0;
    overflow: hidden;
    background-color: #2C6336;
    margin-top: 0%;
    left:0;
    width: 50%;
    font-family: 'Amatic SC';
    box-sizing: border-box;
    display: none;
    position:absolute;
    z-index: 1; 
    text-align: center;
}

.dropdown{
    overflow: hidden;
    background-color: #2C6336;
}

.dropbtn{
   cursor: pointer;
   background-color: #A4A051;
   color: white;
   border: 3px white solid;
   padding: 0;
   width: 15%;
   box-sizing: border-box;
}

.dropdown:hover .menuitems{
  display: block;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #2C6336;
    position: sticky;
    top: 0;
    left:0;
    right:0;
    width: 100%;
    z-index: 10;
    font-family: 'Amatic SC';
    box-sizing: border-box;
    
} 

li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 14px 70px;
    text-decoration: none;
}


.menuitems a {
    display: block;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 14px 70px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: none;
}

.menuitems a:hover:not(.active) {
    background-color: none;
}

li a:hover {
    background-color: #A4A051;
}

.menuitems a:hover {
    background-color: #A4A051;
}

div a.active {
    background-color: #A4A051;
}

li a.active {
    background-color: #A4A051;
}

a.menuoption{
    border: 1px solid white;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #2C6336;
   color: white;
   text-align: center;
   font-size: 20px;
   font-family: 'Amatic SC';
   padding-top: 0.5%;
   padding-bottom: 0.5%;
   margin-bottom: 0;
   box-sizing: border-box;
}
a.insta{
    display: inline block;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 0;
   /* text-decoration: none; */
}

a.tw{
display: inline block;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 0;
   /* text-decoration: none; */
}

a.insta:hover {
    background-color: #EE3075;
} 

a.tw:hover {
    background-color: #05BBD5;
}

a.order{
    background-color: #651E7A;
    padding: 1%;
    text-decoration: none;
    display: block;
    width: 15%;
    color: white;
    font-size: 20px;
    margin-left: 44%;
    margin-bottom: 2%;
    text-align: center;
}

a.order:hover{
    background-color: black;
}

.column {
    float: left;
    width: 22%;
    margin-right: 2%;
}

.row:after {
   content: "";
   display: table;
   clear: both;
}

img.page{
  display: block;
  margin-right: 50%;
  margin-left: 40%;
  box-sizing: border-box;
  width:25%;
  height:30%;
  margin-bottom: 2%;
  margin-top: 2%;
}


#sw{
float: right;
margin-right: 5%;
}

input[type=text] {
  width: 70%;
  box-sizing: border-box;
  border: 3px solid black;
  margin-left: 15%;
  border-radius: 7px
 
}

input[type=text].moredetails {
  width: 70%;
  height: 90px;
  box-sizing: border-box;
  border: 3px solid black;
  margin-left: 15%;
  border-radius: 7px;
  
}


input[type=submit] {
  background-color: #651E7A;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin-left: 45%;
    margin-right: 50%;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.formbckgrnd{
   background-color:#2C6336;
   opacity: 0.85;
   margin-left: 15%;
   margin-right: 15%;
   margin-top: 1%;
   margin-bottom: 10%;
   padding: 0.5% 0% 0.5% 0%;
   box-sizing: border-box;
}

textarea{
   width: 70%;
  height: 90px;
  box-sizing: border-box;
  border: 3px solid black;
  margin-left: 15%;
  border-radius: 7px;
  box-sizing: border-box;
}

button.video{
  border: none;
  background: none;
  display: block;
  margin-left: 10%;
  margin-top: 0;
  margin-bottom: 10%;
}

.scrollbox{
   margin-top: 2%;
   height:220px;
   width:100%;
   border:1px solid white;
   background-color: black;
   overflow:auto;
   box-sizing: border-box;
} 
  iframe.video{
  width: 60%;
  height: 400px;
  background-color: black;
  box-sizing: border-box;
  margin-left: 20%;
  margin-bottom: 5%;
}

img.vbutton{
   height: 120px;
   width: 220px;
   padding: 0 15% 0;
   margin-top: 0;
   margin-bottom:0;
   cursor: pointer;
   display: inline;
}
    
div.updates{

  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%; 
  width: 80%;
  height: 40%;
  background-color: white; 
  box-sizing: border-box;
}

img.updatepic{
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 400px;
  display: block;
  box-sizing: border-box;
}

p.updatewords{
  margin-top: 10%;
  text-align: left;
  width:500px;
  height:300px;
  display: block;
  margin-left: 10%;
  box-sizing: border-box;
}

p.updatedate{
text-align: left;
margin-top: 1%;
margin-left: 2%; 
position: absolute;
display block;
box-sizing: border-box;

}
}
  
@media only screen and (max-height: 600px) {
  p.other {
       width: 80%;
      margin-left: 10%;
      margin-right: 10%;
      font-family: 'Arial';
      font-size: 20px;
      color: white;
      text-align: left;
      line-height: 1.5;
      white-space: normal;
      background-color:#2C6336;
      opacity: 0.7;
      padding: 3% 3%;
}
   p.subinstr{
       display: block;
    }

   a.order{
    font-size: 10px;
    background-color: #651E7A;
    padding: 1%;
    text-decoration: none;
    display: block;
    width: 20%;
    color: white;
    margin-left: 44%;
    margin-bottom: 2%;
    text-align: center;
}
   
    iframe.video{
        display: block;
        width: 70%;
}
 
   .scrollbox{
   margin-top: 0%;
   margin-right: 5%;
   margin-left: 5%;
   height:100px;
   width:90%;
   border:1px solid black;
   background-color: black;
   overflow:auto;
   box-sizing: border-box;
} 
  iframe.video{
  width: 100%;
  height: 340px;
  background-color: #2C6336;
  margin-left: 19%;
  box-sizing: border-box;
}
  p.name{
  text-align: center;
    }

}
