
body {
    
    margin: 0;
}

html {
    background: url(ashleyhomepageoffset.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-attachment: scroll;   
} 

.left {

    margin-left: 5%;
    
} 

.right {
    display: inline;
    position: relative;
    margin-left:62%;
    
} 

span.aboutme{
    
    font-family: 'Aguafina Script';
    font-size: 50px;
    color: white;
    display: block;
}

p.menu{
   color: white;
   font-family: 'Arial Bold';
   font-size: 18px;
   font-weight: bold;
}

p.form{
    color: white;
    margin-left: 12%;
    margin-top: 2%;
    margin-bottom: 0.5%;
    box-sizing: border-box;
}

p.book {
    
    font-family: 'Arial';
    font-size: 20px;
    color: white;
    text-align: left;
    line-height: 1.5;
    white-space: normal;
    background-color:#2C6336;
    opacity: 0.7;
    padding: 3% 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    box-sizing: border-box;
    width: 80%;
    
}
p.aboutme {
    
    font-family: 'Arial';
    font-size: 20px;
    color: white;
    text-align: left;
    line-height: 1.5;
    white-space: normal;
    background-color:#2C6336;
    opacity: 0.7;
    padding: 3% 3%;
    margin-left: 6%;
    margin-bottom: 15%;
    box-sizing: border-box;
    width: 60%;
   
}

p.other {
    
    font-family: 'Arial';
    font-size: 20px;
    color: white;
    text-align: left;
    line-height: 1.5;
    white-space: normal;
    background-color:#2C6336;
    opacity: 0.7;
    padding: 3% 3%;
    margin-left: 6%;
    box-sizing: border-box;
    width: 60%;
   
}

p.videotitle{
    color:white;
    display: block;
    margin-bottom: 0;
    margin-left: 12%;
    margin-top:1%;
    font-family: 'Amatic SC';
    font-size: 25px;
    box-sizing: border-box;
    white-space: nowrap;
}

p.instr{
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Amatic SC';
    font-size: 30px;
    margin-bottom: 1%;
    box-sizing: border-box;
}
    
p.subinstr{
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Amatic SC';
    font-size: 20px;
    box-sizing: border-box;
    display:none;
}

p.name{
    font-family: 'Aguafina Script'; 
    font-size: 120px;
    color: white;
    text-align: left;
    margin-left: 3%;
    margin-top: 12%;
    margin-bottom:0;
    background-color: none;
    position: absolute;
    
}

.menuitems {
    padding: 0;
    overflow: hidden;
    background-color: #2C6336;
    margin-top: 0%;
    left:0;
    width: 50%;
    font-family: 'Amatic SC';
    box-sizing: border-box;
    display: none;
    position:absolute;
    z-index: 1; 
    text-align: center;
}

.dropdown{
    overflow: hidden;
    background-color: #2C6336;
}

.dropbtn{
   cursor: pointer;
   background-color: #A4A051;
   color: white;
   border: 3px white solid;
   padding: 0;
   width: 15%;
   box-sizing: border-box;
}

.dropdown:hover .menuitems{
  display: block;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #2C6336;
    position: sticky;
    top: 0;
    left:0;
    right:0;
    width: 100%;
    z-index: 10;
    font-family: 'Amatic SC';
    box-sizing: border-box;
    
} 

li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 14px 70px;
    text-decoration: none;
}


.menuitems a {
    display: block;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 14px 70px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: none;
}

.menuitems a:hover:not(.active) {
    background-color: none;
}

li a:hover {
    background-color: #A4A051;
}

.menuitems a:hover {
    background-color: #A4A051;
}

div a.active {
    background-color: #A4A051;
}

li a.active {
    background-color: #A4A051;
}

a.menuoption{
    border: 1px solid white;
}

.footer {
   position: fixed;
   width: 100%;
   background-color: #2C6336;
   color: white;
   text-align: center;
   font-size: 20px;
   font-family: 'Amatic SC';
   padding-top: 0.5%;
   padding-bottom: 1%;
   box-sizing: border-box;
   display: block;
   bottom: 4%;
   height: 5%;
}

.creator{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #26372A;
   color: white;
   text-align: right;
   margin-right: 1%;
   font-size: 13px;
   font-family: 'Times New Roman';
   box-sizing: border-box;
   display: block;
   height: 3.5%;
   padding: 0;
}

a.insta{
    display: inline block;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 0;
   /* text-decoration: none; */
}

a.tw{
display: inline block;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 0;
   /* text-decoration: none; */
}

a.insta:hover {
    background-color: #EE3075;
} 

a.tw:hover {
    background-color: #05BBD5;
}

a.order{
    background-color: #651E7A;
    padding: 1%;
    text-decoration: none;
    display: block;
    width: 15%;
    color: white;
    font-size: 20px;
    margin-left: 44%;
    margin-bottom: 2%;
    text-align: center;
}

a.order:hover{
    background-color: black;
}

.column {
    float: left;
    width: 50%;
    margin-right: 10%;
    margin-left: 5%;
    margin-top: 0;
    display: inline block; 
}

img.page{
  display: block;
  margin-right: 50%;
  margin-left: 40%;
  box-sizing: border-box;
  width:25%;
  height:30%;
  margin-bottom: 2%;
  margin-top: 2%;
}


#sw{
float: right;
margin-right: 5%;
}

input[type=text] {
  width: 70%;
  box-sizing: border-box;
  border: 3px solid black;
  margin-left: 15%;
  border-radius: 7px
 
}

input[type=text].moredetails {
  width: 70%;
  height: 90px;
  box-sizing: border-box;
  border: 3px solid black;
  margin-left: 15%;
  border-radius: 7px;
  
}


input[type=submit] {
  background-color: #651E7A;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin-left: 45%;
    margin-right: 50%;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.formbckgrnd{
   background-color:#2C6336;
   opacity: 0.85;
   margin-left: 15%;
   margin-right: 15%;
   margin-top: 1%;
   margin-bottom: 10%;
   padding: 0.5% 0% 0.5% 0%;
   box-sizing: border-box;
}

textarea{
   width: 70%;
  height: 90px;
  box-sizing: border-box;
  border: 3px solid black;
  margin-left: 15%;
  border-radius: 7px;
  box-sizing: border-box;
}

button.video{
 border: none;
  background: none;
  display: block;
  margin-left: 10%;
  margin-top: 0;
  margin-bottom: 10%;
  height: 100px;
  width: 150px;
}

.scrollbox{
   margin-top: 2%;
   height: 190px;
   width:100%;
   border:1px solid white;
   background-color: black;
   white-space: nowrap;
   overflow: auto;
   display: inline-flex;
   box-sizing: border-box;
}

  iframe.video{
  width: 60%;
  height: 400px;
  background-color: black;
  box-sizing: border-box;
  margin-left: 20%;
  margin-bottom: 15%;
}

img.vbutton{
   height: 100px;
   width: 150px;
   padding: 0 15% 0;
   margin-top: 0;
   margin-bottom:0;
   cursor: pointer;
   border: 1px white solid;
   display: inline-block;
}
    
div.updates{

  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%; 
  width: 80%;
  height: 40%;
  background-color: white; 
  box-sizing: border-box;
}

div.updatecaption{
  width: 80%;
  height: 30%;
  color: black;
  background-color: white;
  box-sizing: border-box;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0;
  margin-bottom: 10%;
  display: block;
  padding: 0;
}


div.updatepic{
  width: 80%;
  height: 30%;
  background-color: blue;
  box-sizing: border-box;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0;
  display: block;
  padding:0;
}


img.updatepic{
  margin-left: 22.5%;
  margin-right: 22.5%;
  margin-bottom: 0;
  width: 55%;
  height: 400px;
  display: block;
  border: 4p solid white;
  box-sizing: border-box;
  padding:0;
}

p.updatewords{
  margin-top: 2%;
  text-align: left;
  margin-left: 10%;
  box-sizing: border-box;
}

p.updatedate{
text-align: left;
margin-top: 1%;
margin-left: 2%; 
box-sizing: border-box;
}

 @media only screen and (max-width: 625px) {
 iframe.video{
   width: 100%;
   margin-left: 0;
}

p.name{
   font-size: 70px;
   margin-top: 30%;
}

p.aboutme{
 font-size: 18px;
}

p.other{
 font-size: 13px;
 width: 100%;
}

a.order{
 font-size: 13px;
 width: 30%;
 margin-left: 38%;
}
     
p.creator{
  font-size: 10px;
}
}

@media only screen and (max-width: 1175px) {

p.subinstr{
 display: block;
}
}
     
@media only screen and (max-width: 777px) {

a.order{
font-size: 13px;
}
}

@media only screen and (max-width: 347px) {

p.menu{
 font-size: 12px;
}
}

@media only screen and (max-width: 450px) {

p.aboutme{
 font-size: 15px;
 width: 95%;
 margin-left: 2.5%;
 margin-right: 2.5%;
}
    
html{
background-position: 0 30px;
}
}

@media only screen and (max-width: 270px) {

span.aboutme{
 font-size: 45px;
}
}

@media only screen and (max-width: 925px) {

p.videotitle{
 font-size: 15px;
}

.column{
    margin-right: 15%;
    }
}
